ANX_DB_HOST=localhost
ANX_DB_NAME=anx
ANX_DB_USER=root
ANX_DB_PASS=pass
ANX_LOG_DIR=./
ANX_LOG_FILE=anx.log
ANX_LOG_FMT='%(asctime)s %(levelname).3s: %(message)s - %(name)s +%(lineno)03d'
ANX_LOG_DATE_FMT='%Y-%m-%d %H:%M:%S'
ANX_LOG_LEVEL=10
ANX_SESSIONS_KEY=averysecretkey
ANX_PORT=8000
ANX_DEBUG=1
